.btn {
    padding: 2.32rem;
    font-family: "Unbounded", "Courier New", Courier, monospace;
    font-size: 1.3rem;
    font-weight: 600;
    line-height: 1;
    letter-spacing: .0em;
    color: var(--color-white);
    text-transform: uppercase;
    background-color: var(--color-red);
    border: 1px solid var(--color-red);
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn:hover {
    background-color: var(--color-title);
    border-color: var(--color-title);
}

.btn_noColor {
    color: var(--color-red);
    background-color: transparent;
}

.btn_noColor:hover {
    color: var(--color-white) !important;
    background-color: var(--color-red);
    border-color: var(--color-red);
}

.btn_white {
    color: var(--color-red);
    background-color: var(--color-white);
    border-color: var(--color-white);
}

.btn_white:hover {
    color: var(--color-white);
    background-color: var(--color-red);
    border-color: var(--color-red);
}

.btn_small {
    padding: 1.32rem;
}


.my-tabs {
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

@media (max-width: 1199px) {
    .my-tabs {
        gap: 2rem;
    }
}

@media (max-width: 769px) {
    .my-tabs {
        gap: 1.2rem;
    }
}

.my-tabs__nav {
    display: flex;
    gap: 4px;
    position: relative;
    z-index: 5;
}

.my-tabs__nav::before {
    content: "";
    display: block;
    height: 1px;
    width: 100vw;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    position: absolute;
    bottom: 0;
    left: -50vw;
    z-index: 1;
}

.my-tabs__nav::after {
    content: "";
    display: block;
    height: 1px;
    width: 100vw;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    position: absolute;
    bottom: 0;
    left: 50vw;
    z-index: 1;
}

@media (max-width: 769px) {

    .my-tabs__nav::before,
    .my-tabs__nav::after {
        border-bottom: none;
    }
}

.my-tabs__tab-btn {
    padding: 2.4rem 3rem;
    font-family: "Unbounded", "Courier New", Courier, monospace;
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 1;
    letter-spacing: .0em;
    color: var(--color-title);
    text-transform: uppercase;
    background-color: #EFEFEF;
    border-radius: 1rem 1rem 0rem 0rem;
    text-align: center;
}


@media (max-width: 1400px) {
    .my-tabs__tab-btn {
        font-size: 1.4rem;
    }
}

@media (max-width: 992px) {
    .my-tabs__tab-btn {
        padding: 2rem;
    }
}

@media (max-width: 575px) {
    .my-tabs__tab-btn {
        padding: 1.4rem;
    }
}

.my-tabs__tab-btn:hover {
    background-color: #e2e2e2;
}

.my-tabs__tab-btn.active {
    color: var(--color-white);
    background-color: var(--color-red);
}

.my-tabs__content {}

.my-tabs__tab-panel {
    display: none;
}

.my-tabs__tab-panel.active {
    display: block;
}