.my-dropdown {
    width: 100%;
    border-radius: 4px;
    cursor: pointer;
}

.my-dropdown>span {
    width: 100%;
    padding: 2rem 1.7rem 2rem 2rem;
    font-family: "Unbounded", "Courier New", Courier, monospace;
    font-size: 1.4rem;
    line-height: 1;
    border-radius: 4px;
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    gap: 1.7rem;
    background-color: var(--color-white);
}

@media (max-width: 769px) {
    .my-dropdown>span {
        font-size: 1.3rem;
    }
}

.my-dropdown>.submenu {
    position: absolute;
    background-color: var(--color-white);
    width: 100%;
    border-radius: 0px 0px 4px 4px;
    padding: 0rem 2rem 2rem;
    z-index: 10;
    display: none;
}

.my-dropdown .submenu__inner {
    max-height: 216px;
    overflow-y: auto;
}

.my-dropdown .submenu__item {
    padding: 1rem 0rem;
    font-family: "Unbounded";
    font-size: 1.4rem;
    line-height: 18px;
    color: rgba(27, 33, 31, 0.8);
    cursor: pointer;
}

@media (max-width: 769px) {
    .my-dropdown .submenu__item {
        font-size: 1.3rem;
        line-height: 16px;
    }
}

.my-dropdown .submenu__item:hover {
    color: var(--color-red);
}

.my-dropdown>span::after {
    content: "";
    position: relative;
    display: block;
    width: 13px;
    height: 8px;
    background-image: url("data:image/svg+xml,%3Csvg width='13' height='8' viewBox='0 0 13 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M5.65654 7.071L-0.00046164 1.414L1.41354 -4.94551e-07L6.36354 4.95L11.3135 -6.18079e-08L12.7275 1.414L7.07054 7.071C6.88301 7.25847 6.6287 7.36379 6.36354 7.36379C6.09837 7.36379 5.84407 7.25847 5.65654 7.071Z' fill='black'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    z-index: 6;
    transition: transform 0.2s ease;
}

.my-dropdown.white-arrow>span::after {
    background-image: url("data:image/svg+xml,%3Csvg width='13' height='8' viewBox='0 0 13 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M5.65654 7.071L-0.00046164 1.414L1.41354 -4.94551e-07L6.36354 4.95L11.3135 -6.18079e-08L12.7275 1.414L7.07054 7.071C6.88301 7.25847 6.6287 7.36379 6.36354 7.36379C6.09837 7.36379 5.84407 7.25847 5.65654 7.071Z' fill='white'/%3E%3C/svg%3E");
}

.my-dropdown.open>span::after {
    transform: rotate(180deg);
}